<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Blogly</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/users">Blogers</a>
        <a href="/tags">Tags</a>
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
    <footer style="height:auto; background-color:#F7C201;">
        <p> Made By Kantcat </p>
    </footer>

    </div>
</body> 
</html>