{% extends 'base.html' %}

{% block title %}
User details
{% endblock%}

{% block content %}
<h1>User Detail Page</h1>
<img src={{user.image_url}} alt="Profile Picture" align="left" width="100" height="100">
<h2>{{user.first_name}} {{user.last_name}}</h2>
<form action="/users/{{user.id}}/edit">
    <button>Edit</button>
</form>
<form action="/users/{{user.id}}/delete" method="POST">
    <button >Delete</button>
</form>

<h1>Posts</h1>
<ul>
    {% if posts %}
    {% for post in posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
    {% else %}
    <p>This user has not posted anything</p>
    {% endif %}
</ul>
<form action="/users/{{user.id}}/posts/new">
    <button>Add new post</button>
</form>

{% endblock%}