{% extends 'base.html' %}

{% block title %}
Post Detail Page
{% endblock%}

{% block content %}

<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>by {{post.u.first_name}} {{post.u.last_name}}</p>

{% if post.tags %}
<b>Tag: </b>
{% for tag in tags%}
<p>{{tag.name}}</p>
{% endfor %}
{% else %}
<p>_</p>
{% endif %}



<form action="/users/{{post.creater}}">
    <button >Cancel</button>
</form>

<form action="/posts/{{post.id}}/edit">
    <button>Edit</button>   
</form>

<form action="/posts/{{post.id}}/delete" method="POST">
    <button>Delete</button>
</form>

{% endblock%}